body {
	font-family: 'Trebuchet MS', Helvetica, sans-serif;
	background-size: cover;
	background-color: rgb(255,255,255);	
	margin: 0;
	padding: 0;
	height: 100%;
	min-height: 100%;
}

#container {
	min-height: 100%;
	position: relative;
	margin-bottom: -60px;
}

/*Header elements*/

#logo {
	opacity: 1;
	margin-top: .8%;
}

#header {
	opacity: 1;
	padding-left: .1%;
	padding-right: .1%;
	margin-top: .8%;
	
}

#shingle {
	padding-left: 5%;
}

#address {
	text-align: right;
	padding-bottom: .7%;
	font-size: 1em;
	margin-right: 1%;
	color: 
}

#navbar {
	position: relative;
	font-size: 1.3em;
	margin-top: 10%;
	background-color: rgb(30,30,30);
	opacity: 1;
	border-radius: 10px;
	width: 95%;
	height: 3em;
	margin-left: auto;
	margin-right: auto;
	justify-content: center;
	align-items: center;
	
}


	/*Drop Down Menu*/
.drop-nav {
	list-style: none;
	padding: 0px;
	margin: 0px;
}

.drop-nav li {
	display: block;
	position: relative;
	float: left;
	
}

li .drop {
	display: none;
	list-style: none;
	padding: 0px;
	margin: 0px;
	border: 1px solid rgb(30,30,30);
	border-radius: 5px;
}

.drop-nav li a {
	display: block;
	background: rgb(30,30,30);
	padding: 5px 10px 5px 10px;
	text-decoration: none;
	white-space: nowrap;
	color: #fff;
}

.drop-nav li a:hover {
	background: rgb(179,27,77);
	
}

li:hover .drop {
	display: block;
	position: absolute;
}

li:hover li {
	float: none;
}

li:hover a {
	background: rgb(179,27,77);
}

li:hover li a:hover {
	background: rgb(30,30,30);
	border: 1px solid rgb(30,30,30);
	 
}

#drop-nav li .drop li {
	border-top: 0px;


}  

#drop-nav {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);

	
}





/*Main body elements*/

#body {
	padding: 10px;
	padding-bottom: 60px;
	min-height:100%;
}



#jumbotron {
	margin-left: 30px;
	margin-top: 30px;
	border-style: solid;
	border-color: rgb(80,80,80);
	float: left;
		
}

#contactform {
	font-size: 1.2em;
	
	margin-left: 5%;
	padding-bottom: 100px;
}

#about {
	padding-left: 850px;
	margin-right: 50px;
}

#info {
	font-size: 1.3em;
	margin-right: 50px;
	padding-bottom: 30px;
}

.highlighted {
	margin-left: 30px;
	margin-top: 30px;
	border-color: white;
	border-style: solid;
}

#overhaulimg {
	
}

#warrantyacc {
	display: inline-block;
	margin-left: 40px;
	padding-right: 40px;
	padding-left: 40px;
	padding-top: 20px;
	padding-bottom: 20px;
	border-style: ridge;
	border-radius: 5px;
	border-color: rgb(250,250,250);	
	background-color: rgb(250,250,250);
	margin-bottom:60px;
	
	
}

.accordion {
	border-style: ridge;
	border-radius: 5px;
	border-color: maroon;
	background-color: rgb(254,254,254);
	width:360px;
	
}

li{
	padding-bottom: 2px;
	padding-top: 2px;
}

#OHli {
	padding-left: 5px;
}
.acccontent {
	
}

.Slideshow {
	margin-left: 30px;
	margin-top: 30px;
	border-style: solid;
	border-color: rgb(80,80,80);
	float: left;
}

.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

#trailerhead {
	padding-left: 850px;
	margin-right: 50px;
}

#catlogo {
	display: inline-block;
	padding-top:20px;
	height: 80px;
	padding-left: 40px;
	padding-right: 40px;
	
}

#cumminslogo {
	display: inline-block;
	padding-top: 20px;
	
	height: 80px;
}

#detroitlogo {
	display: inline-block;
	padding-top: 20px;
	height: 80px;
}

#trailerinfo {
	font-size: 1.3em;
	margin-right: 50px;
}

#trailerform {
	padding-left: 850px;
	
}

.servicelink {
	color: black;
}

/*Footer elements*/

#footer {
	position: relative;
	bottom: 0;
	width: 100%;
	height: 60px;
	background: black;
	opacity: 0.75;
}

#footertext {
	color: white;
	float: left;
	display: inline;
	margin-left: 40px;
	
}

#facebook {
	float: right;
	display: inline;
	padding: 10px;
	padding-right: 50px;
}